.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
venv3.*
venv
docs_build
venv
docs.zip
archive.zip
node_modules
# vim temporary files
*~
.*.sw?